@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.appointment{
    background: linear-gradient(rgba(1, 95, 201, 0.9), rgba(1, 95, 201, 0.9)), url(./image/carousel-1.jpg) center center no-repeat;
  }
.title{
    font-family: 'Poppins', sans-serif;
}
p.text{
    font-family: 'Roboto', sans-serif;
}
#color-box{
    background-color: #015fc9;
    border-radius: 10px !important;
}
.label-new{
    color: #696e77;
}
#button-two{
transition: 0.5s;
border:white solid;
border-radius: 10px;
}
#button-two:hover{
background-color: #0dd3f1;

}
.rounded-3{
    border-radius: 10px !important;
}
