@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
.footer-color{
    background-color: #15233c;
}
div.footer-link>a{
    text-decoration: none;
    color: #A7a8b4;
}
.btn,.footer-icon{

    border-radius: 5px;
}
div.footer-divider{
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, 0.1);
}
a.back-to-top{
width: 40px;
display: flex;
align-items: center;
justify-content: center;
}
a.footer-icon{
    border: solid 1px #A7a8b4;
    border-radius: 10px;
    color: #A7a8b4;
}
div>input,button{
    border-radius: 10px !important;
}
.icon{
    transition: all 0.1s;
    color: #A7a8b4;
}
i.bi.icon:hover{
color: aqua;
}
.footer-place::placeholder{
    color: #A7a8b4!important;
}
.scale{
    display: block;
    border: none;
    text-align: left;
    margin-bottom: 5px;
    transition: 10s;
}
 .hov:hover {
    display: inline-block;
    transform: scaleX(1.1);
    color: #f6f7fc;
    border: #15233c solid 1px;
    transform-origin: left;
  }
.font-color{
    color: #A7a8b4;
}
a.font-color>i{
    color: #A7a8b4;
}
.footer-icon:hover{
border: #f6f7fc solid 1px;
}
.button{
    background-color:#0dd3f1 ;
    border: none;
 transition: 0.5s;
}
.button:hover{
background-color: #015fc9;
border: none;
}
.column-one{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #A7a8b4;
}
.font{
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
    color: #f6f7fc;
}
.column-one>a{
    text-decoration: none;
    color: #0dd3f1;

}
