@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');
button.btn:hover{
    background-color:#0dd3f1;
}
button.btn{
    text-decoration: none;
    font-size: 1rem;
    border-radius: 10px;
  width: 200px;
  height: 55px;
  background-color: #015FC9;

}
h1.font-family{
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
    color: #15233c;
}
p.font-family{
    color: #696E77;
    font-family: 'Roboto Flex', sans-serif;
 
}
p.font-family>a{
    text-decoration: none;
    color: #015FC9;
}
label.click{
    color: #696E77;
}
#message{
    height: 100px;
}
#firstname,#lastname,#email,#message{
    border-radius: 10px;
}
.map{
    border-radius: 10px;
}
